body{
    font-family: sans-serif;
}

:root {
    --white: #ffffff;
    --teal: #1abc9c;
    --test1: #sded2f;
  }


.nav_color {
    background-color: #2c3e50;
}

.color {
    background-color: aqua;
}

.color2{
    background-color: blueviolet;
}

.start_color{
   background-color: var(--teal);
    /* background-color: red; */
}

.img_size {
    height: 220px;
}