body{
    font-family: sans-serif;
}

:root {
    --white: #ffffff;
    --teal: #1abc9c;
    --test1: #sded2f;
  }

  .flex_row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }

.nav_color {
    background-color: #2c3e50;
}

.color {
    background-color: aqua;
}

.color2{
    background-color: blueviolet;
}

.start_color{
   background-color: var(--teal);
}

.avatar_size {
    width: 100%;
    height: 220px;
}

.side_star {
    width: 130px;
    height: 5px;
    background-color: white;
    border-radius: 40px;
}

.fa-star{
  padding: 0 20px;
}

.img_size{
    width: 100%;
    margin: auto;
}