body{
    font-family: sans-serif;
}

:root {
    --white: #ffffff;
    --teal: #1abc9c;
   
    --color1: #2c3e50;
    --color2: #3A546D;
  }

  .pt-7{
      padding-top: 7rem;
  }

  .mt-7{
      margin-top: 7rem;
  }

  .flex_row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }

  header{
      position: fixed;
      z-index: 555;
  }

.bck_color1 {
    background-color: #2c3e50;
    width: 100%;
}

.bck_color2{
    background-color: var(--color2);
    width: 100%;
}

.color {
    background-color: aqua;
}

.color2{
    background-color: blueviolet;
}

.bck_teal{
   background-color: var(--teal);
}

.avatar_size {
    position: relative;
    width: 250px;
    height: 220px;
    margin: auto;
}

.side_star {
    width: 130px;
    height: 5px;
    background-color: white;
    border-radius: 40px;
}

.fa-star{
  padding: 0 20px;
}

.img_size{
    width: 100%;
    height: 100%;
}

.bck_teal{
    background-color: var(--teal);
}

.about_box{
    max-width: 90%;
}


.test{
    background-color: blue;
}

.test1{
    background-color: darkgoldenrod;
}

.test2{
    background-color: yellow;
}

.circle{
    width: 50px;
    height: 50px;
    border: solid white;
    border-radius:50%;
    padding: .5rem;
    margin:5px;
    border-width: 1px;
}
.bottom_footer{
    line-height:5rem;
  
}


