
body{
    font-family: sans-serif;
}

:root {
    --white: #ffffff;
    --teal: #1abc9c;
    --color1: #2c3e50;
    --color2: #3A546D;
  }

.pt-7{
      padding-top: 7rem;
  }

  .mt-7{
      margin-top: 7rem;
  }

  .flex_row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }

  header{
      position: fixed;
      z-index: 555;
  }

.bck_color1 {
    background-color: #2c3e50;
    width: 100%;
}

.bck_color2{
    background-color: var(--color2);
    width: 100%;
}

.bck_color3{
   background-color: var(--teal);
}


.avatar_size {
    position: relative;
    width: 250px;
    height: 220px;
    margin: auto;
}

.side_star {
    width: 15%;
    max-width: 120px;
    height: 5px;
    background-color: white;
    border-radius: 40px;
}

.side_star_black {
    width: 20%;
    max-width: 120px;
    height: 5px;
    background-color: black;
    border-radius: 40px;
}

.fa-star{
  padding: 0 20px;
}

.img_size{
    width: 100%;
    height: 100%;
}

.bck_teal{
    background-color: var(--teal);
}

.about_box{
    max-width: 90%;
}

.circle{
    width: 60px;
    height: 60px;
    border: solid white;
    border-radius:50%;
    padding: 1.3rem;
    margin:5px;
    border-width: 1px;
}

.bottom_footer{
    line-height:5rem;  
}

.circle_box {
    max-width: 100%;
}

.startboot{
    text-decoration: none;
    color: var(--teal);
}

.startboot:hover{
    color: var(--teal);
}



